*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin-top: 20%;
    gap: 2%;
}
.container button{
    padding: 10px;
}